body{
    font-family: "Patrick Hand", cursive;

    ;
}
.btn-color{
    width: 100px;
    color: white;
    max-width: 100%;
    border: none;
}

h1 {
    font-size: 35px;
    font-weight: 100;
    line-height: 28px;
    
  }
  ul{
      margin: 0;
      padding: 0;
  }
  li {
    list-style: none;
    margin: 0;
    padding: 0;
    color: rgb(135, 135, 135);
    font-size: 16px;
    font-weight: 100;
    line-height: 16px;
  }
  .weather-app {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #dadde1;
    border-radius: 5px;
    background-image: linear-gradient(#f33939, #f4f493);
    
  }

  .degree{
      text-align: center;
     

  }
  .itemlists{
    padding: 2px;
  }
  .itemlists li{
    padding: 5px;
  }
  .degreeunit{
      font-size: 100px;
      padding: 10px;
      margin-bottom: -11px;
    ;
  }
  .temperature {
    font-weight: bold;
    color: rgb(33, 33, 33);
    font-size: 77px;
    line-height: 64px;
    margin-left: 5px;
    font-weight: 400;
    margin-left: 10px;
  }
  .units {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
  }

  .icon{
    height: 120px;
    width: 120px;
margin-bottom: 25px;
margin-right: 68px;

  }
  .WeatherForecast{
    text-align: center;
  }
  .ForecastTemp .ForecastTemp-min{
    opacity: 0.6;
    margin-left: 5px;
  }


  .end{
    max-width: 600px;
    margin: auto;
    margin-top:40px;
    margin-left: 25px;

  }
  .enda{
    text-decoration: none;
    color: #f33939;
  }